@import url('https://fonts.googleapis.com/css?family=Inter');
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans+Condensed');

/* Universal */ 
html, body {
    margin: 0; padding: 0;
}

img {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
}

h1, h3 {
    font-family: 'IBM Plex Sans Condensed';
    color: #B21C1C;
    font-weight: 2000;
    text-align: center;
}

p {
    font-family: 'Inter';
    text-align: center;
}


/* Landing page styling */
body#landing {
    background-color: #fff;
    background-image: url(images/BGsun.png);
    background-repeat: no-repeat;
    background-position: 120% 50%;
}


img.landing-icon {
    width: 25%;
}

.landing-grid {
    display: grid;
    text-align: center; 
    gap: 2%;
    grid-template-columns: 300px 300px 300px;

}
div#test {
    display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}


div.landing-grid div {
    display: inline-block;
    width: 300px;
    height: 400px;
    background-color: #FFFCED;
    border-style: solid;
    border-color: #B4B09D;
    border-width: medium;
    text-align: center;
}

a.button {
    text-align: center;
    font-family: 'Inter';
    background-color: #B21C1C;
    color: white;
    padding: 20px 34px;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
}


/* Navigation bar */
section.navbar {
    background-color: #B21C1C;
}

div.navjumps {
    background-color: #435042;
    height: 40px;
    text-align: center;
    padding: 0;
    

}

ul.navlink li { 
    display: inline;
    font-size: 25px;
    font-family: 'Inter';
    padding: 16px 40px;
}

div.titlebar {
    display: block;
}

img#icon {
    width: 180px ;
    margin: 20px 0px 0px 30px;
}

.white {
    color: #fff;
    font-weight: 1000;
    text-decoration: none;
}

.highlighted {
    color: #FFC427;
    font-weight: 1000;
}

/* 'Places' page */ 
body#places {
    background-color: #fff;
    background-image: url(images/BGcity.png);
    background-repeat: no-repeat;
    background-position: 50% 5%;
    background-size: 700;
}

section#place-list {
    color: white;
}

img#store-icon {
    width: 70px;
    margin: 0;
    position: relative;
    display: inline;
}

h1#places-title {
    display: inline;
    margin: 2% 0 0 0;
    padding: 0 0 0 0;
    position: relative;
}

div#places-text {
    text-align: center;
    margin: 3% 0;
}

section.location-section {
    padding: 30px;
    height: 800px;
    color: #fff;
}

section.location-section h2 {
    font-family: 'IBM Plex Sans Condensed';
    padding: 6% 0px 0px 6%;
    line-height: 100px;
    font-size: 70px;
}

section.location-section p {
    font-family: 'Inter';
    font-size: 20px;
    text-align: left;
    padding-left: 200px;

}

section#church {
    background-image: url("images/img_places_church.png");
    background-size: cover;
} section#mansion {
    background-image: url("images/img_places_mansion.png");
    background-size: cover;
} section#gorge {
    background-image: url("images/img_places_mountain.png");
    background-size: cover;
}

/* 'Info' page */ 
body#info {
    background-color: #fff;
    background-image: url(images/BGbook.png);
    background-repeat: no-repeat;
    background-position: 80% 60%;
    background-size: 700;
}

p  {
    font-family: 'Inter'
}

.grid-info {
    display: grid;
    grid-template-columns: auto auto;
    padding: 8%;
    align-items: center;
    row-gap: 8%
}

img.info-image {
    width: 45%;
    height: 100%;
    padding: 0;
}

.grid-info div {
    text-align: center;
}

/* 'People' page */ 
body#people {
    background-color: #fff;
    background-image: url(images/BGbanner.png);
    background-size: 120%;
    background-repeat: no-repeat;
    background-position: 80% 2%;
    background-size: 700;
}

.grid-people {
    display: grid;
    grid-template-columns: auto auto;
    padding: 8%;
    align-items: center;
}

img.festival-image {
    width: 80%
}